# OS Files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node / Logs / Temp
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
tmp/
scratch/

# Environment / Local Secrets
.env
.env.local
.env.*.local
